<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="store.component.css">

  <title>Loja</title>
</head>

<body>

  <div class="back">

    <header class="header">header</header>

    <div class="overlay">
    </div>

    <div class="corpo">

      <div class="combo-premium">
        
        <img class="img-premium" src="./img/background.png" alt="">
        <div class="cb-overlay">
        </div>

        <span class="cb-titulo">MEDIUM COMBO</span>
        <img class="fruti" src="./img/fruti.png" alt="">
        <span class="cb-sub">Esse é o combo mais comprado pelos usuários, contém 800 fruits!</span>

        <span class="cb-preco">
          R$ 24,30
        </span>

        <button class="cb-btn">COMPRAR</button>
        
      </div>

      <div class="outros-combos">
        <div class="cb1"></div>

      </div>  

    </div>

  </div>


</body>

</html>
