<div class="back">
    <div class="overlay">
    </div>

    <div class="corpo">

      <div class="combo-premium">
        
        <img class="img-premium" src="../../assets/images/background.png" alt="">
        <div class="cb-overlay">
        </div>

        <span class="cb-titulo">MEDIUM COMBO</span>
        <img class="fruti" src="../../assets/images/fruti.png" alt="">
        <span class="cb-sub">Esse é o combo mais comprado pelos usuários, contém 800 fruits!</span>

        <span class="cb-preco">
          R$ 24,30
        </span>

        <button class="cb-btn">COMPRAR</button>
        
      </div>

      <div class="outros-combos">
        <!-- <div class="content-wrapper"> -->
          <div class="combos"> 
            <div class="combos-todos"> 
              <div class="combo" id="combo1">
                <span class="quantidade">20</span>
                <span class="tipo">Folhinhas</span>
                <img src="../../assets/images/folhinha.png"  alt="">
                <span class="preco">R$6,99</span>
                <button class="button-comprar">Comprar</button>
              </div>
              <div class="combo" id="combo2">
                <span class="quantidade">20</span>
                <span class="tipo">Folhinhas</span>
                <img src="../../assets/images/folhinha.png" alt="">
                <span class="preco">R$6,99</span>
                <button class="button-comprar">Comprar</button>
              </div>
              <div class="combo" id="combo3">
                <span class="quantidade">20</span>
                <span class="tipo">Folhinhas</span>
                <img src="../../assets/images/folhinha.png" alt="">
                <span class="preco">R$6,99</span>
                <button class="button-comprar">Comprar</button>
              </div>
              <div class="combo" id="combo4">
                <span class="quantidade">20</span>
                <span class="tipo">Folhinhas</span>
                <img src="../../assets/images/folhinha.png" alt="">
                <span class="preco">R$6,99</span>
                <button class="button-comprar">Comprar</button>
              </div>
              <div class="combo" id="combo5">
                <span class="quantidade">20</span>
                <span class="tipo">Folhinhas</span>
                <img src="../../assets/images/folhinha.png" alt="">
                <span class="preco">R$6,99</span>
                <button class="button-comprar">Comprar</button>
              </div>
              <div class="combo" id="combo6">
                <span class="quantidade">20</span>
                <span class="tipo">Folhinhas</span>
                <img src="../../assets/images/folhinha.png" alt="">
                <span class="preco">R$6,99</span>
                <button class="button-comprar">Comprar</button>
              </div>
            </div>
          </div>
        <!-- </div>   -->
    </div>

  </div>