<div class="topnav">
  <span class="navbar-brand"><img src="../../assets/images/elo-logo.png" alt=""></span> 
  <a href="#link1">Link 1</a>
  <a href="#link2">Link 2</a>
  <a href="#link3">Link 3</a>
  <a href="#link4">Link 4</a>
</div>

<div class="page-home">
  <section class="home-header">
    <div class="header-background">
      <img src="../../assets/images/fundo.png" alt="">
    </div>
    <div class="banner">
      <div class="logo-container">
        <img src="../../assets/images/elo-logo.png">
      </div>
      <a class="btn-play" href>"JOGUE AGORA!"</a>
    </div>
  </section>
  <section class="home-personagens">
    <div class="wrapped-header">
      <h5>Personagens</h5>
    </div>
    <div class="content-wrapper">

    </div>
  </section>
</div>