<div class="topnav">
  <ul>
    <li>
      <span class="navbar-brand"><img src="../../assets/images/elo-logo.png" alt=""></span> 
    </li>
    <li>
      <a href="#historiadojogo">História do jogo</a>
    </li>
    <li>
      <a href="#personagens">Personagens</a>
    </li>
    <li>
      <a href="#loja">Loja</a>
    </li>
    <li>
      <a href="#baixar">Baixar</a>
    </li>
    
    <li class="float-right">
        <a href="#loginecadastro#">Login/Cadastro</a>
    </li>
  </ul>

 
  <!-- <a href="#itens">Itens</a> -->
</div>