<div  id="login">
  <form>
    <div class="form-group">
      <input [(ngModel)]="email" id="inputEmail" name="email" type="email" #emailInput="ngModel" class="form-control" placeholder="Digite o seu e-mail:">
    </div>
    <div class="form-group">
      <input [(ngModel)]="password" id="passwordInput" name="password" type="password" #passwordInput="ngModel" class="form-control" placeholder="Digite a sua senha:">
      <a id="aviso" routerLink="/cadastro">Não lembra da sua senha? Clique aqui!</a>
    </div>
    <button type="submit" class="btn" (click)="login($event)">Entrar</button>
  </form>
</div>