<div class="page-profile">
  <section>
    <div class="header-background">
      <div class="personagem">
          <div class="personagem-container">
            <img src="../../assets/images/Armature_pula_34.png">
            <h1>LIMONADA</h1>
            <div class="gradient"></div>
          </div>
        </div>
    </div>
    
    <div class="content">
      <div class="categoria">
        <i> <img src="../../assets/images/def1.png"> </i>
        <br>
        <span>Defesa</span>
      </div>
      <div class="perfil">
        <div class="nav">
          <span>Características</span>
        </div>
        <div class="nucleo">
          <div class="caracteristicas">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis perspiciatis totam sunt et eligendi sequi earum tenetur, dolorum facere dolores facilis nam, sed ducimus reprehenderit omnis maiores quisquam. Ducimus, reiciendis?
          </div>
        </div>
      </div>
    </div>
  </section>

</div>