<div class="page-profile">
  <section>
    <div class="header-background">
      <div class="personagem">
          <div class="personagem-container">
            <img src="../../assets/images/Armature_pula_34.png">
            <h1>LIMONADA</h1>
            <div class="gradient"></div>
          </div>
        </div>
    </div>
    
    <div class="content">
      <div class="categoria">
        <i> <img src="../../assets/images/def-1.png"> </i>
        <br>
        <span>Defesa</span>
      </div>
      <div class="perfil">
        <div class="nav">
          <span>Características</span>
        </div>
        <div class="nucleo">
          <div class="caracteristicas">
            <p> <b>Aspectos físicos:</b> A personagem possui formas humanóides e pele rosa, mesmo sendo 
            alta e possuindo uma perna mecânica, possui movimentos suaves e rápidos.     </p>
            <p> <b>Vestimentas:</b> A personagem veste um casaco roxo com tinta mais clara manchando o lado
            esquerdo. Uma calça preta e fones de ouvidos azuis, que nunca são desligados.</p>
            <p> <b>Equipamentos:</b> O personagem não possui equipamentos explícitos, seu poder sai
            de ondas emanadas das suas mãos.</p>
            <p> <b>Personalidade: </b> Mesmo sendo decidida, limonada é tímida e reservada,
            tanto que ninguém sabe o seu nome real, conhecida apenas por um apelido criado pela 
            mesma. Ela prefere não falar muito, e sim ouvir, imaginando o mundo como um filme 
            em que ela é uma espectadora. Para reforçar a aparência de filme do mundo, ela 
            escuta música em seu fone ininterruptamente, como se fosse a trilha sonora de sua vida.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>